body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/light-background.jpg");

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 50%;
  text-align: center;
}

.login-container {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text" i],
input[type="password" i] {
  padding: 0;
}

button {
  background: #cfb76f;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  width: 50%;
  color: #000000;
  margin: 0.5em;
  line-height: 2em;
  font-size: 36px;
}

input {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  width: 50%;
  color: gray;
  margin: 0.5em;
  line-height: 2em;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  * {
    font-size: 30px;
  }

  .login-container,
  .logo {
    width: 100%;
  }

  form {
    margin: auto;
  }
  button {
    font-size: 16;
  }
  input {
    font-size: 16;
  }

  img {
    height: 7em;
    margin: 2em;
  }
}
